 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Lexend+Mega&display=swap');

body{
	overflow-x: hidden;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 26px;
	color: #fed049 ;
	position: sticky;
}

.navbar-brand:hover{
	color: rgba(255, 255, 255, .7);
}

.bg-nav {
	background-color: #007580;
}

.sidenav {
	height: 100%;
	width: 258px;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: #282846;
	padding-top: 95px;
}

.manage {
	font-family: 'Lexend Mega', sans-serif;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: -17px;
	letter-spacing: 6px;
}

.divider {
	border-top: 1px solid rgba(223, 204, 197, 0.3);
	padding-bottom: 15px;
}

.pull-right{
  margin-left: 29%;
  margin-top: 15px;
  background-color: #007580;
}

.pull-right-admin{
	margin-left: 56%;
	margin-top: 15px;
	background-color: #007580;
}

.pull-right a{
  color: white !important;
  margin-left: 10px;
	text-decoration: none;
}

.pull-right a:hover{
  color: rgba(223, 204, 197, 0.5) !important;
}

.nav-pills{
  margin-left: 15px;
  padding-bottom: 10px;
}

.nav-pills a{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.nav-pills a:hover{
  color: #45587c;
	text-decoration: none;
}

.nav-pills span{
  font-size: 17px;
  padding-left: 10px;
}

.main{
	margin-left: 258px;
}

.breadcrumb a{
	color: #282746;
}

.breadcrumb{
	font-size: 13px;
}

.searchbar{
	margin-left: 40px;
	margin-top: 10px;
}

.refresh{
	margin-left: -16px !important;
	margin-top: 17px !important;
}

.btn-info{
	background-color: #282746;
}

.btn-info:hover{
	background-color: #45587c;
}

.badge-delete{
	color: red;
}

.btn-add{
	margin-left: 27px;
	margin-top: -11px;
	margin-bottom: 10px;
	color: #282746;
	font-weight: 600;
}

.img-petugas{
	width: 3% !important;
}

.petugas-name{
	margin-left: 70% !important;
}

.div-end{
	margin-top: 126%;
}

.div-end-siswa {
	margin-top: 163%;
}

.user-image{
	margin-left: 20%;
	margin-bottom: 30px;
}

.user-name {
	color: white;
}

.petugas-info{
	margin-left: 43%;
}

.petugas-info p{
	margin-top: -5px;
	font-size: 16px;
	margin-bottom: 15px;
}

.div-log {
	margin-top: 67%;
}

.laporanbulan span{
	color: #fed049;
}

.refreshLaporan{
	margin-left: -15px !important;
	margin-top: 17px !important;
}

.btn-laporan{
	width: 100%;
	height: 100%;
}

.headcatatan{
	font-size: 13px;
	text-align: center;
}

.bodycatatan{
	font-size: 14px;
}

.badge-laporan{
	color: darkgreen !important;
}

.datasiswa{
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
}

.datasiswa span{
	color: #fed049;
}

.img-circle {
	border-radius: 30px;
	height: 40px;
	width: 12%;
}

.img-circle-admin{
	border-radius: 22px;
	height: 40px;
	width: 22%;
}

.ml-30{
	margin-left: 40%;
}

.profileuser .row{
	margin-left: 190px;
	margin-top: 113px;
}

.namauser {
	margin-left: 25px;
}

.div-siswa{
	margin-top: -29px;
}

.name-color {
	color: white !important;
}